/*
    Title: VKCool Designs
    Author: Vivek Kumar
    Author URL: vvkkumar06.github.io
    License: MIT
*/



body{
    background: #fff;
    font-family: 'Josefin Slab', serif;
    letter-spacing: 0.3em;
    margin:0 auto;
    padding:0;
}
header{
    text-transform: uppercase;
    height:250px;
}
nav{
    margin-top:30px;
    margin-left:10px;
}
header li.nav-item a.nav-link{
    text-decoration:none;
    color: #000 !important;
    font-weight: 800;
}
header li.nav-item a.nav-link:hover{
    color: #23e !important;
    border-bottom:5px solid #23e;
}

.navbar-brand{
    text-decoration: none;
    color:#333;
    font-weight: 1000;
    font-size: 34px;
}
.navbar-brand:hover{
 color:#b23 !important;
}
ul.navbar-nav{
 
    margin-right:0 !important
}
.showcase{
    margin-bottom:50px;
}


h1.vk-title{
    letter-spacing: 0em !important;
    font-size:100px;
    font-weight: 1000;
}

.vk-title span{
    
    margin-left:0px;
    margin-right:0px;
}
.vk-title{
    text-transform: capitalize;
}

.test{
    border:1px solid black;
}
.design1{
    position:absolute;
    top:-50px;
    height:200px;
    width:400px;
    background: rgba(10,10,200,0.4);
    -ms-transform: rotate(1700deg); /* IE 9 */
    -webkit-transform: rotate(170deg); /* Safari */
    transform: rotate(170deg);
    box-shadow:0 0 5px 0 rgba(10,10,200,1);

}
.vk-btn{
    background:rgba(10,10,200,0.8);
    color:#fff;
    border:none;
   
    padding:10px;
    line-height:1.4em;
    cursor: pointer;
}
.vk-btn:hover{
    background:rgba(10,10,200,0.6);
    animation: vk-btn-ani 1s ease-in-out;
    text-decoration: none;
    color:#fff;
}
.vk-design{
    margin-top:80px !important;
    padding:20px 0px 20px 0px;
    width:100%;
    height:500px;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    color:#000;
    text-transform: capitalize;
    
}

@keyframes vk-btn-ani{
    0%   {margin-left: 0px}
    50% {margin-left: 50px}
    100% {margin-left: 0px}
}

.about{
    letter-spacing:-0.2em;
    background:url(images/about.jpg);
    background-size:cover;
    color:#fff;
    padding:10px;
    height:500px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.services a{
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.3em;
    font-size:24px;
    font-weight: 500;
    background: rgba(0,0,0,0.5);
}

footer{
    width:100%;
    height: 100px;
    overflow: hidden;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23242424' fill-opacity='0.29' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
     margin-top:50px;
    color:#fff;
    padding:30px;
}
.contact{
    padding-top:100px;
    padding-bottom:100px;
}
.contact-us{
    margin-top:50px;
}
.card{
    letter-spacing: 0em;
}
.work, .team, .career, .about-main{
    margin-bottom:100px;
    margin-top:50px;
}
.card-header{
    background:#23e;
    color:#fff;
    text-align:center;
}
.card-footer{
    background:#b23;
    color:#fff;
    text-align:center;
}
@media screen and (max-width:576px) {
    h1.vk-title{
        font-size:24px;
    }
   
    .contact-form{
        border-right:none;
    }
    .navbar-brand{
        font-size:28px;
    }
    .design1{
        width:350px;
    }

}

@media screen and (max-width:991px){
    .navbar-nav{
        background:rgba(255,255,255,1);
        position:absolute;
        padding:10px;
        box-shadow:0 0 5px 0 rgba(0,0,0,0.6);
        z-index:200;
    }
    .about-title{
        display: none;
    }
    .services a{
        letter-spacing: 0em;
    }
}

.sticky {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%2380778e' fill-opacity='0.11' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    color:#fff !important;
    z-index:100;
    margin-top:-0px;
    margin-left:0px;
    border-bottom:1px dashed rgb(160, 164, 197);
  }

